<main class="content">
  <h1>Aplicación seguimiento de libros</h1>

  <div class="dashboard">
    <app-book-list 
      [title]="'Lista de Deseos'" 
      [books]="wishlist()"
    ></app-book-list>

    <app-book-list 
      [title]="'Comprados (Sin Leer)'" 
      [books]="unread()"
    ></app-book-list>

    <app-book-list 
      [title]="'En Lectura'" 
      [books]="reading()"
    ></app-book-list>

    <app-book-list 
      [title]="'Leídos'" 
      [books]="read()"
    ></app-book-list>
  </div>
</main>